
.food-display {
    margin-top: 40px;
    padding: 0 20px;
}

.food-display h2{
    font-size:24px;
    font-weight:600;
}
.food-display-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-top:30px;
    gap: 20px;
    row-gap:30px;
}