.footer
{
color:#d9d9d9;
background-color:#1a1a1a;
padding:20px 0;
text-align:center;
font-size:14px; 

}
.footer-content
{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.footer-content-right,.footer-content-left,.footer-content-centre
{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:10px 0;
}
.footer-content-left li,.footer-content-right li,.footer-content-centre li
{
    list-style:none;
    margin:5px 0;
}
.footer-social-icons img
{
    width:24px;
    height:24px;
    margin:0 10px;
}